.App {
  text-align: center;
}
.SP{
  display: flex;
  margin: 0 54px;
  justify-content: center;
}
.SP1{
  margin-right: 160px;
}
.app__container{
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 1200px;
}
.app__content{
  width: 80%;
}
.app__navbar{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.nav__item{
  padding-bottom: 40px;
}
.nav__item1{
  padding: 40px 0;
}
.add__post{
  width: 100%;
  padding-right: 60px;
}